<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>CDSi core</display-name>

	<!--
		There are three means to configure Wickets configuration mode and they 
		are tested in the order given.
		
		1) A system property: -Dwicket.configuration 
		2) servlet specific <init-param> 
		3) context specific <context-param>

		The value might be either "development" (reloading when templates change) or 
		"deployment". If no configuration is found, "development" is the default. -->

    <servlet>
        <servlet-name>step</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.StepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fhir</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.FhirServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>forecast</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.ForecastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fits</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.FitsServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>dataModelView</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.MainServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>dataModelViewPatient</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.PatientServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>dataModelViewCvx</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.CvxServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>dataModelViewAntigen</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.AntigenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataModelViewVaccineGroup</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.VaccineGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataModelViewSchedule</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataModelViewLiveVirusConflict</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.LiveVirusConflictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataModelViewCodedObservation</servlet-name>
        <servlet-class>org.openimmunizationsoftware.cdsi.servlet.dataModelView.CodedObservationServlet</servlet-class>
    </servlet>
   
    
    <servlet-mapping>
        <servlet-name>forecast</servlet-name>
        <url-pattern>/forecast</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>step</servlet-name>
        <url-pattern>/step</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>fhir</servlet-name>
        <url-pattern>/fhir/*</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>step</servlet-name>
        <url-pattern>/fv/step</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>fits</servlet-name>
        <url-pattern>/fits</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>dataModelView</servlet-name>
        <url-pattern>/dataModelView</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>dataModelViewPatient</servlet-name>
        <url-pattern>/dataModelViewPatient</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>dataModelViewCvx</servlet-name>
        <url-pattern>/dataModelViewCvx</url-pattern>
    </servlet-mapping>	 
    <servlet-mapping>
        <servlet-name>dataModelViewAntigen</servlet-name>
        <url-pattern>/dataModelViewAntigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataModelViewVaccineGroup</servlet-name>
        <url-pattern>/dataModelViewVaccineGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataModelViewSchedule</servlet-name>
        <url-pattern>/dataModelViewSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataModelViewLiveVirusConflict</servlet-name>
        <url-pattern>/dataModelViewLiveVirusConflict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataModelViewCodedObservation</servlet-name>
        <url-pattern>/dataModelViewCodedObservation</url-pattern>
    </servlet-mapping>




    <filter>
		<filter-name>wicket.core</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>org.openimmunizationsoftware.cdsi.WicketApplication</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>wicket.core</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
